name: toma_app
description: "App de broma"
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  shake: ^3.0.0
  audioplayers: ^6.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/audio/
    - assets/img/

  fonts:
    - family: ChavoFont
      fonts:
        - asset: assets/fonts/MelonPop.ttf
  
